.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
mobile/build.gradle
/mobile/build.gradle
.idea
.idea/

Bolts/build/intermediates/
Bolts/build/generated/source/buildConfig/test/
Bolts/build/outputs/
Bolts/build/tmp/
*.apk
